---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2 style="text-align: center;">🧑‍💻 Ping de la Suceava Hacks</h2>
			<img src="https://raw.githubusercontent.com/suceavahacks/.github/refs/heads/main/svh.png" />
			<p>
				Bine ai venit pe spațiul nostru digital! Aici postăm tot ce ține de Suceava Hacks — anunțuri, recap-uri, idei și momente faine din comunitate.
			</p>
			<p>
				Fie că ai fost la un eveniment și vrei să revezi poze, sau cauți ce urmează să organizăm, aici e locul potrivit. E jurnalul nostru de bord, dar și un loc de inspirație.
			</p>
			<h4>📅 Ce urmează</h4>
			<img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/6d898067a7f4222db520322e2872b6b7acce57a4_group_138.svg" />
			<ul>
				<li> 
				<strong>27-28 septembrie, 2025</strong> <a href="https://daydream.hackclub.com" target="_blank">Daydream</a> – un game jam de 24 de ore, organizat în sute de orașe din lume!
				</li>
			</ul>
			<h4>🎟️ Cum faci parte din comunitate?</h4>
			<p>
				Nu ai nevoie de un formular ca să faci parte din Suceava Hacks. Dacă ești pe <a href="https://discord.gg/qDPZXZAAyN" target="_blank">Discord</a> sau <a href="https://hackclub.slack.com" target="_blank">Slack</a>, ești deja cu noi!
			</p>	
			<h4>🤝 Vrei să te implici?</h4>
			<p>
				Ne bucurăm mereu când ni se alătură oameni noi! Poți scrie articole, ajuta la organizare sau veni cu idei pentru viitoare evenimente. Intră pe <a href="https://discord.gg/qDPZXZAAyN" target="_blank">Discord-ul nostru</a> și hai să vorbim.
			</p>
			<h4>💸 Susține Suceava Hacks</h4>
			<p>
				Suceava Hacks e organizat 100% de voluntari, iar fiecare hackathon sau meetup înseamnă timp, pasiune și uneori costuri. Dacă vrei să susții comunitatea noastră să crească și să creeze în continuare, poți face o donație. (nedeductibilă fiscal în România.)
			</p>
			<p>
				<a href="https://hcb.hackclub.com/svh" target="_blank">→ Donează aici</a>
			</p>		
		</main>
</html>
